<div>
    <div style="padding-top:150px">
        
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">@</span>
                        </div>
                        <input ng-model="username" required type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <br />
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">*</span>
                        </div>
                        <input ng-model="password" type="password" required class="form-control" placeholder="password" aria-label="password" aria-describedby="addon-wrapping">
                    </div>
                    <br />
                    <div>
                        <button type="button" class="btn btn-success" ng-click="login()">Giriş yap</button>
                        <button type="button" class="btn btn-info" ng-click="kayit()">kayıt ol</button>
                    </div>
                </div>

            </div>

            <div class="col"></div>
        </div>

    </div>


</div>


